<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card my-2">
        <div class="card-header text-bg-primary">
          {{student.neptun ? 'Update' : 'Create'}}
        </div>
        <div class="card-body">

          @if (student.neptun){
            <div class="form-floating">
              <input disabled class="form-control" id="neptun" [(ngModel)]="student.neptun">
              <label for="neptun">Neptun kód</label>
            </div>
          } @else {
            <div class="alert alert-info">
              A neptun kódot a szerver határozza meg.
            </div>
          }


          <div class="form-floating mt-2" >
            <input class="form-control" id="name" [(ngModel)]="student.name">
            <label for="name"> Nyomtatási név</label>
          </div>

          <div class="form-floating mt-2">
            <select class="form-select" id="program" [(ngModel)]="student.program">
              @for (program of neptunConfig.programs | keyvalue; track program.key)
              {
                <option [value]="program.key"> {{program.value}}</option>
              }
            </select>
            <label for="program">Szak</label>
          </div>
          @if (student.updated) {
            <div class="form-floating mt-2">
              <input class="form-control" id="update" disabled [ngModel]="student.updated | date: neptunConfig.dateFormat">
              <label for="update">Utolsó módosítás</label>
            </div>

          }

          <div class="mt-2">
            @if (!student.neptun){
              <button class="btn btn-outline-primary w-100" (click)="create()">
                Hallgató létrehozása
              </button>
            } @else {

            <button class="btn btn-outline-primary w-100" (click)="update()">
              Hallgató módosítása
            </button>
            }
          </div>
          {{student | json}}
        </div>
      </div>
    </div>
  </div>
  <!-- Button trigger modal -->
  <button #openModal type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-success-subtle">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Sikeres mentés</h1>

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Sikeresen megtörtént a hallgató modosítása!
          </p>
        </div>
        <div class="modal-footer">
          <button #closeModal type="button" class="btn btn-success w-100" data-bs-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
</div>
