<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card my-2">
        <div class="card-header" [class.text-bg-primary]="param!='create'" [class.text-bg-dark]="param == 'create'" >
          @if (param=='create'){
            Create
          } @else {
            Update
          }
        </div>
        <div class="card-body ">
          <div class="form-floating">
            <input class="form-control" placeholder="ISBN" id="isbn" [(ngModel)]="book.isbn">
            <label for="isbn">ISBN</label>
          </div>

          <div class="form-floating mt-2">
            <input class="form-control" placeholder="Title"  id="title" [(ngModel)]="book.title">
            <label for="title">Title</label>
          </div>
          <div class="form-floating mt-2">
            <select class="form-select" id="authorId" [(ngModel)]="book.author" [compareWith]="compareAuthors">
              @for (author of authors ; track author.authorID)
              {
                <option [ngValue]="author"> {{author.firstName+" "+author.lastName}}</option>
              }
            </select>
            <label for="authorId">Szerző</label>
          </div>

          <div class="form-floating mt-2">
            <input class="form-control" placeholder="Publisher" id="publisher" [(ngModel)]="book.publisher">
            <label for="publisher">Publisher</label>
          </div>

          <div class="form-floating mt-2">
            <input class="form-control" placeholder="Price" id="price" [(ngModel)]="book.price">
            <label for="price">Price</label>
          </div>

          <div class="mt-2">
            @if (param=='create'){
              <button class="btn btn-outline-primary mt-2 w-100" (click)="createBook()" >
                Könyv létrehozása
              </button>

            } @else {

              <button class="btn btn-outline-primary mt-2 w-100" (click)="update()">
                Könyv modosítása
              </button>
            }
          </div>

          {{book | json}}
        </div>
      </div>
    </div>
  </div>
</div>



<!--<div class="form-floating mt-2">-->
<!--  <input class="form-control" id="firstName" [(ngModel)]="author.firstName">-->
<!--  <label for="firstName">First name</label>-->
<!--</div>-->


<!--<div class="form-floating mt-2">-->
<!--  <input class="form-control" id="lastName" [(ngModel)]="author.lastName">-->
<!--  <label for="lastName">Last name</label>-->
<!--</div>-->

<!--<div class="form-floating mt-2">-->
<!--  <input class="form-control" type="date" id="bithday" [(ngModel)]="author.dateOfBirth">-->
<!--  <label for="bithday">Date of birth</label>-->
<!--</div>-->

