<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card my-2">
        <div class="card-header text-bg-primary">
          <i class="bi bi-link-45deg"></i>
            Könyv és szerző kapcsolatkezelés
        </div>
        <div class="card-body ">
          <div class="form-floating">
            <select class="form-select" id="isbn" [(ngModel)]="book">
              @for (book of books ; track book.isbn)
              {
                <option [ngValue]="book"> {{book.title}}</option>
              }
            </select>
            <label for="isbn">Cím</label>
          </div>
          <div class="form-floating mt-2">
            <select class="form-select" id="authorId" [(ngModel)]="selectedAuthor">
              @for (author of authors ; track author.authorID)
              {
                <option [ngValue]="author"> {{author.firstName+" "+author.lastName}}</option>
              }
            </select>
            <label for="authorId">Szerző</label>
          </div>
          <div class="mt-2">
            <button class="btn btn-outline-primary mt-2 w-100" (click)="connectBookAuthor()"> Könyv-szerző kapcsolat létrehozása/módosítása</button>
          </div>
        </div>

          {{book | json }}


      </div>
    </div>
  </div>
</div>

